h1 {
    text-align: center;
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(99, 161, 7);
}

h2 {
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: greenyellow
}

h3 {
    text-align: center;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
}

.container2 {
    background-color: rgb(13, 212, 169);
    margin: 50px auto;
    padding: 30px;
    width: 400px;
    padding: 10px;
    margin-top: 12px;
    border: 2px solid #333;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s;
    margin-bottom: 60px;
}

.ContainerOpções2 {
    background-color: gray;
    margin: 20px;
    width:60px;
    padding: 25%;
    margin-top: 28px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: background 1.3s;
}

.button1:hover{
background-color: rgb(244, 204, 204);
width: 10px;
}

.button1 {
    background-color: gray;
}

.button2 {
    background-color: rgb(4, 121, 8);
}

.button2:hover {
background-color: rgb(56, 194, 11);
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
}

.container {
     width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #f4f4f4;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 60px;
}

body {
    background-image: url('');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-bottom: 70px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
}

footer {
    background-color: #fa0606;
    text-align: center;
    padding: 10px 10px;
    position: fixed;
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    bottom: 0;
    justify-content: center;
}

.FooterText {
    color: black;
    margin: 0;
}

.FooterText {
    color: black;
    margin: 0;
}